.summary {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .summary-item {
    flex: 1;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
    border-radius: 8px;
    background-color: #fff;
  }
  
  .recent-expenses ul {
    list-style-type: none;
    padding: 0;
  }
  
  .recent-expenses li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }